<ion-header>
  <ion-navbar>
    <ion-title text-center>
      
    </ion-title>
    <ion-buttons right>
      <button ion-button right color="danger" (click)="goLoginPage()">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  
  <form>
          <ion-row>
            <ion-label><h2>{{poll.shopName}} <span *ngIf="havePoll">ยังไม่ได้โหวต {{poll.unvoter.length}} คน</span></h2></ion-label>
          </ion-row>
    <ion-list radio-group *ngIf="havePoll">
      <ion-item *ngFor="let item of poll.menus">
        <ion-label>{{item.menuName}}</ion-label>
        <ion-label>{{item.voter.length}}</ion-label>
        <ion-label *ngIf="item.isDefault">Default</ion-label>
        <ion-label *ngIf="!item.isDefault"></ion-label>
        <ion-radio value="{{item.id}}" checked="{{voteId == item.id}}" (click)="vote(item.id)"></ion-radio>
      </ion-item>
        <ion-item>
          <ion-label color="primary" floating>เพิ่มรายการ</ion-label>
          <ion-input [(ngModel)]="newFood" name="newFood"></ion-input>
          <ion-icon item-right name="add-circle" (click)="AddNewFood()" color="primary"></ion-icon>
      </ion-item><br>
      <button ion-button right color="blue" (click)="voteSubmit()">โหวต</button>
      <br/>
      <ion-item>
          <ion-label>คนดูแล poll : {{poll.createBy}}</ion-label>
      </ion-item>
      <button ion-button right color="danger" (click)="closePoll()" *ngIf="closeEnable">ปิดโพล</button>
    </ion-list>
  </form>

</ion-content>
